/****
Reset
****/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

/*****
Global
*****/

body {
    background-color: #f6f8f9;
}

.corpi {
    background-color: #FFFFFF;
}

/*****
Header
*****/

header {
    padding: 10px 0px 10px 20px;
    margin-bottom: 40px;
}

.head {
    vertical-align: middle;
}

#title {
    display: inline-block;
    font-size: 40px;
    font-weight: bold;
}

/***
Main
***/

main {
    margin: 0px 168px;
}

/****  Bottoni  ****/
#add {
    padding: 22px 0px 15px 50px;
    border-radius: 10px 10px 0px 0px;
    margin-bottom: 2px;
}

.buttons {
    display: inline;
    padding: 8px 10px;
    vertical-align: middle;
    margin-right: 5px;
    border: 1px solid;
    border-radius: 8px;
}

#add-task {
    background-color: #14aaf5;
    color: #ffffff;
    border-color: #14aaf5;
}

#add-section {
    color: #d3d8dc;
}
/****  /Bottoni  ****/

/****  Lista  ****/
#list {
    padding: 35px 0px 1px 50px;
    border-radius: 0px 0px 10px 10px;
}

/*  Struttura principale  */
.cat {
    margin-bottom: 10px;
}

.title {
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 6px;
}

.task {
    display: inline-block;
    margin-bottom: 18px;
}
/*  /Struttura principale  */

/*  Spunte  */
.check {
    border: 1px solid;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    font-size: xx-small;
    padding-left: 3px;
    margin-right: 10px;
}

.yes {
    color: #4ccfb8;
}

.no {
    color: #ff1010;
}
/*  /Spunte  */

/*  Testo  */
.text {
    font-weight: 500;
}
/*  /Testo  */

/*  Dipartimenti  */
.dep {
    display: inline;
    padding: 6px 8px;
    vertical-align: middle;
    border: 1px solid;
    border-radius: 12px;
    font-size: x-small;
    color: #ffffff;
}

.editorial {
    background-color: #14aaf5;
    border-color: #14aaf5;
}

.goals {
    background-color: #ab5de6;
    border-color: #ab5de6;
}

.recruiting {
    background-color: #2cc6ab;
    border-color: #2cc6ab;
}

.mobile {
    background-color: #ff9b00;
    border-color: #ff9b00;
}

.website {
    background-color: #ec4a9d;
    border-color: #ec4a9d;
}

.sales {
    background-color: #a3d116;
    border-color: #a3d116;
}
/*  /Dipartimenti  */
/****  /Lista  ****/